USE [Windhaven]
GO
/****** Object:  Table [dbo].[IVR_PIN]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVR_PIN](
	[IVR_PINid] [int] IDENTITY(10,1) NOT NULL,
	[insuredID] [int] NOT NULL,
	[pin] [varchar](32) NULL,
	[active] [tinyint] NOT NULL,
	[mailerDate] [smalldatetime] NULL,
 CONSTRAINT [PK_IVR_PIN] PRIMARY KEY CLUSTERED 
(
	[IVR_PINid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_IVR_PIN_insuredID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_IVR_PIN_insuredID] ON [dbo].[IVR_PIN]
(
	[insuredID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IVR_PIN] ADD  CONSTRAINT [DF_IVR_PIN_insuredID]  DEFAULT (1) FOR [insuredID]
GO
ALTER TABLE [dbo].[IVR_PIN] ADD  CONSTRAINT [DF_IVR_PIN_active]  DEFAULT (0) FOR [active]
GO
