USE [Windhaven]
GO
/****** Object:  Table [dbo].[CDATA]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDATA](
	[cfid] [char](64) NULL,
	[app] [char](64) NULL,
	[data] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [id1]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [id1] ON [dbo].[CDATA]
(
	[cfid] ASC,
	[app] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
