USE [Windhaven]
GO
/****** Object:  Table [dbo].[HDR_Arrest]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDR_Arrest](
	[HDR_ArrestID] [int] IDENTITY(10,1) NOT NULL,
	[HDR_RequestID] [int] NULL,
	[HDR_ID] [int] NULL,
	[DPS_NUMBER] [varchar](50) NULL,
	[DOA] [varchar](25) NULL,
	[SEQ] [varchar](5) NULL,
	[TRN] [varchar](10) NULL,
	[ANA] [varchar](50) NULL,
	[OCA] [varchar](10) NULL,
	[ORIA] [varchar](50) NULL,
	[AGN] [varchar](10) NULL,
 CONSTRAINT [PK_HDR_Arrest] PRIMARY KEY CLUSTERED 
(
	[HDR_ArrestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_HDR_Arrest_HDRID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_HDR_Arrest_HDRID] ON [dbo].[HDR_Arrest]
(
	[HDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [IX_HDR_Arrest_RequestID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_HDR_Arrest_RequestID] ON [dbo].[HDR_Arrest]
(
	[HDR_RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDR_Arrest] ADD  CONSTRAINT [DF_HDR_Arrest_HDR_RequestID]  DEFAULT ((1)) FOR [HDR_RequestID]
GO
ALTER TABLE [dbo].[HDR_Arrest] ADD  CONSTRAINT [DF_HDR_Arrest_HDR_ID]  DEFAULT ((1)) FOR [HDR_ID]
GO
