USE [Windhaven]
GO
/****** Object:  Table [dbo].[PolicyLog]    Script Date: 9/27/2016 5:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyLog](
	[policyLogID] [int] IDENTITY(10,1) NOT NULL,
	[changeUsersID] [int] NULL,
	[statusChange] [tinyint] NOT NULL,
	[premiumChange] [tinyint] NOT NULL,
	[inforceStart] [smalldatetime] NOT NULL,
	[inforceEnd] [smalldatetime] NULL,
	[dropDate] [datetime] NOT NULL,
	[nonPremEndorsement] [tinyint] NOT NULL,
	[policyID] [int] NULL,
	[locationID] [int] NULL,
	[policyNum] [varchar](20) NULL,
	[policyType] [tinyint] NULL,
	[status] [tinyint] NULL,
	[effectiveDate] [smalldatetime] NULL,
	[expirationDate] [smalldatetime] NULL,
	[cancelledDate] [smalldatetime] NULL,
	[insuredID] [int] NULL,
	[producerID] [int] NULL,
	[companyID] [int] NULL,
	[stateID] [int] NULL,
	[duplicate] [tinyint] NULL,
	[agencyCustomerID] [varchar](25) NULL,
	[applicationDate] [smalldatetime] NULL,
	[originalAppNum] [varchar](20) NULL,
	[accountNum] [varchar](20) NULL,
	[isRenewal] [tinyint] NULL,
	[billMethod] [tinyint] NULL,
	[noRestore] [tinyint] NULL,
	[noRenewal] [tinyint] NULL,
	[boundDate] [smalldatetime] NULL,
	[premiumTotal] [dbo].[CURRENCY] NULL,
	[termPremiumsDue] [dbo].[CURRENCY] NULL,
	[needsRated] [tinyint] NULL,
	[renewalRecord] [int] NULL,
	[tempRecord] [tinyint] NULL,
	[filingType] [varchar](10) NULL,
	[cancelledReason] [tinyint] NULL,
	[policyCharge] [dbo].[CURRENCY] NULL,
	[expenseFee] [dbo].[CURRENCY] NULL,
	[policyState] [smallint] NULL,
	[noLogEntry] [tinyint] NULL,
	[endorsementDate] [smalldatetime] NULL,
	[manualRate] [tinyint] NULL,
	[policyTerm] [tinyint] NULL,
	[ratingVersionID] [int] NULL,
	[renewalCount] [smallint] NULL,
	[policyProgram] [tinyint] NULL,
	[financeCompanyID] [int] NULL,
	[endorsementDescription] [varchar](3000) NULL,
	[usersID] [int] NULL,
	[doNotBind] [tinyint] NULL,
	[doNotIssue] [tinyint] NULL,
	[imported] [tinyint] NULL,
	[commissionRate] [smallmoney] NULL,
	[logState] [smallint] NULL,
	[forceLogEntry] [tinyint] NULL,
	[submitUsersID] [int] NULL,
	[companyCommissionRate] [smallmoney] NULL,
	[commissionMethod] [tinyint] NULL,
	[transferPolicyID] [int] NULL,
	[underwriterReferral] [tinyint] NULL,
	[endorsementReferral] [tinyint] NULL,
	[noRenewReason] [int] NULL,
	[cancellationLogID] [int] NULL,
	[equityDate] [smalldatetime] NULL,
	[dateFirstWritten] [smalldatetime] NULL,
	[checkEquity] [tinyint] NULL,
	[treatyID] [int] NULL,
	[checkReinstatement] [tinyint] NULL,
	[financeContractNum] [varchar](30) NULL,
	[addDate] [smalldatetime] NULL,
	[paymentPlanID] [int] NULL,
	[latestDueInvoiceDate] [smalldatetime] NULL,
	[latestDueInvoiceID] [int] NULL,
	[appQuoteTotal] [dbo].[CURRENCY] NULL,
	[quoteImportID] [int] NULL,
	[reviewStatus] [tinyint] NULL,
	[isRewrite] [tinyint] NULL,
	[commissionRateID] [int] NULL,
	[ratingGroupID] [int] NULL,
	[ratingProgram] [tinyint] NULL,
	[paymentPlan] [tinyint] NULL,
	[depositDue] [dbo].[CURRENCY] NULL,
	[depositPaid] [dbo].[CURRENCY] NULL,
	[monthlyPayment] [dbo].[CURRENCY] NULL,
	[amountOwed] [dbo].[CURRENCY] NULL,
	[amountPaid] [dbo].[CURRENCY] NULL,
	[earnedPremium] [dbo].[CURRENCY] NULL,
	[depositPercent] [money] NULL,
	[installmentCount] [tinyint] NULL,
	[firstPaymentDue] [smallint] NULL,
	[installmentInterval] [tinyint] NULL,
	[ratingVersion] [money] NULL,
	[billDay] [tinyint] NULL,
	[installmentFee] [dbo].[CURRENCY] NULL,
	[isDirect] [tinyint] NULL,
	[invalidUW] [tinyint] NULL,
	[rewriteRecord] [tinyint] NULL,
	[redBarStatus] [tinyint] NULL,
	[isReissue] [tinyint] NULL,
	[importID] [int] NULL,
	[manualSurcharge] [tinyint] NULL,
 CONSTRAINT [PK_PolicyLog_policyLogID] PRIMARY KEY CLUSTERED 
(
	[policyLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PolicyLog_changeUsersID_statusChange_status_policyLogID_ premiumChange_ inforceStart_ inforceEnd_ dropDate_ nonPremEndorsemen]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyLog_changeUsersID_statusChange_status_policyLogID_ premiumChange_ inforceStart_ inforceEnd_ dropDate_ nonPremEndorsemen] ON [dbo].[PolicyLog]
(
	[changeUsersID] ASC,
	[statusChange] ASC,
	[status] ASC
)
INCLUDE ( 	[accountNum],
	[addDate],
	[agencyCustomerID],
	[usersID],
	[submitUsersID],
	[tempRecord],
	[termPremiumsDue],
	[transferPolicyID],
	[treatyID],
	[underwriterReferral],
	[ratingVersionID],
	[renewalCount],
	[renewalRecord],
	[reviewStatus],
	[stateID],
	[premiumTotal],
	[producerID],
	[quoteImportID],
	[ratingGroupID],
	[ratingProgram],
	[ratingVersion],
	[policyNum],
	[policyProgram],
	[policyState],
	[policyTerm],
	[policyType],
	[premiumChange],
	[originalAppNum],
	[paymentPlan],
	[paymentPlanID],
	[policyCharge],
	[policyID],
	[policyLogID],
	[needsRated],
	[noLogEntry],
	[nonPremEndorsement],
	[noRenewal],
	[noRenewReason],
	[noRestore],
	[latestDueInvoiceDate],
	[latestDueInvoiceID],
	[locationID],
	[logState],
	[manualRate],
	[monthlyPayment],
	[installmentFee],
	[installmentInterval],
	[insuredID],
	[isDirect],
	[isRenewal],
	[isRewrite],
	[firstPaymentDue],
	[forceLogEntry],
	[imported],
	[inforceEnd],
	[inforceStart],
	[installmentCount],
	[equityDate],
	[expenseFee],
	[expirationDate],
	[filingType],
	[financeCompanyID],
	[financeContractNum],
	[duplicate],
	[earnedPremium],
	[effectiveDate],
	[endorsementDate],
	[endorsementDescription],
	[endorsementReferral],
	[depositDue],
	[depositPaid],
	[depositPercent],
	[doNotBind],
	[doNotIssue],
	[dropDate],
	[commissionMethod],
	[commissionRate],
	[commissionRateID],
	[companyCommissionRate],
	[companyID],
	[dateFirstWritten],
	[boundDate],
	[cancellationLogID],
	[cancelledDate],
	[cancelledReason],
	[checkEquity],
	[checkReinstatement],
	[amountOwed],
	[amountPaid],
	[applicationDate],
	[appQuoteTotal],
	[billDay],
	[billMethod]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyLog_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyLog_policyID] ON [dbo].[PolicyLog]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  CONSTRAINT [DF_PolicyLog_statusChange]  DEFAULT ((0)) FOR [statusChange]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  CONSTRAINT [DF_PolicyLog_statusChange1]  DEFAULT ((0)) FOR [premiumChange]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  CONSTRAINT [DF_PolicyLog_dropDate2]  DEFAULT (getdate()) FOR [inforceStart]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  CONSTRAINT [DF_PolicyLog_dropDate]  DEFAULT (getdate()) FOR [dropDate]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  CONSTRAINT [DF_PolicyLog_nonPremEndorsement]  DEFAULT ((0)) FOR [nonPremEndorsement]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  CONSTRAINT [DF__PolicyLog__isDir__297FDF73]  DEFAULT ((0)) FOR [isDirect]
GO
ALTER TABLE [dbo].[PolicyLog] ADD  DEFAULT ((0)) FOR [manualSurcharge]
GO
