USE [Windhaven]
GO
/****** Object:  Table [dbo].[FinanceContractTriggerLog]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceContractTriggerLog](
	[financeContractTriggerLogID] [int] IDENTITY(1,1) NOT NULL,
	[financeContractID] [int] NULL,
	[cashDownPayment] [dbo].[CURRENCY] NULL,
	[ARPaymentTotal] [dbo].[CURRENCY] NULL,
	[changeAmountType] [tinyint] NULL,
	[addDate] [smalldatetime] NULL,
 CONSTRAINT [PK_FinanceContractTriggerLog] PRIMARY KEY CLUSTERED 
(
	[financeContractTriggerLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_FinanceContractTriggerLog]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_FinanceContractTriggerLog] ON [dbo].[FinanceContractTriggerLog]
(
	[financeContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FinanceContractTriggerLog] ADD  CONSTRAINT [DF_FinanceContractTriggerLog_addDate]  DEFAULT (getdate()) FOR [addDate]
GO
