USE [Windhaven]
GO
/****** Object:  Table [dbo].[BusinessPursuits]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessPursuits](
	[BusinessPursuitsID] [int] IDENTITY(10,1) NOT NULL,
	[policyID] [int] NULL,
	[systemCoverageTypeID] [int] NULL,
	[OccupantCount] [int] NULL,
	[BusinessType] [int] NULL,
	[BusinessName] [nvarchar](50) NULL,
	[active] [tinyint] NULL,
 CONSTRAINT [PK_BusinessPursuits] PRIMARY KEY CLUSTERED 
(
	[BusinessPursuitsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_BusinessPursuits_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusinessPursuits_policyID] ON [dbo].[BusinessPursuits]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessPursuits] ADD  CONSTRAINT [DF_BusinessPursuits_policyID]  DEFAULT (1) FOR [policyID]
GO
ALTER TABLE [dbo].[BusinessPursuits] ADD  CONSTRAINT [DF_BusinessPursuits_systemCoverageTypeID]  DEFAULT (1) FOR [systemCoverageTypeID]
GO
