USE [Windhaven]
GO
/****** Object:  Table [dbo].[CoveragesDetail]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoveragesDetail](
	[coveragesDetailID] [int] IDENTITY(10,1) NOT NULL,
	[coveragesID] [int] NOT NULL,
	[policyID] [int] NOT NULL,
	[coverageDetail] [varchar](50) NULL,
	[value1] [varchar](25) NULL,
 CONSTRAINT [PK_CoveragesDetail] PRIMARY KEY CLUSTERED 
(
	[coveragesDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_CoveragesDetail_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CoveragesDetail_policyID] ON [dbo].[CoveragesDetail]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
