USE [Windhaven]
GO
/****** Object:  Table [dbo].[Zip]    Script Date: 9/27/2016 5:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zip](
	[zipID] [int] NOT NULL,
	[zip] [varchar](10) NULL,
	[stateID] [int] NULL,
 CONSTRAINT [PK_Zip] PRIMARY KEY CLUSTERED 
(
	[zipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
