USE [Windhaven]
GO
/****** Object:  Table [dbo].[CLUEA_Claim]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLUEA_Claim](
	[CLUEA_ClaimID] [int] IDENTITY(10,1) NOT NULL,
	[policyID] [int] NULL,
	[driverID] [int] NULL,
	[discoveryType] [varchar](25) NULL,
	[atFault] [varchar](25) NULL,
	[claimType] [varchar](35) NULL,
	[claimDate] [smalldatetime] NULL,
	[damageAmount] [int] NULL,
	[propertyDamageAmount] [int] NULL,
	[bodilyInjuryAmount] [int] NULL,
	[hasPD] [tinyint] NULL,
	[hasBI] [tinyint] NULL,
	[BICount] [int] NULL,
	[PDCount] [int] NULL,
	[claimTypeList] [varchar](500) NULL,
	[CLUEA_RequestID] [int] NULL,
	[CLUEA_DetailID] [int] NULL,
	[drivernumber] [int] NULL,
	[driverLicNum] [varchar](20) NULL,
	[processed] [tinyint] NULL,
 CONSTRAINT [PK_CLUEA_Claim] PRIMARY KEY CLUSTERED 
(
	[CLUEA_ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CLUEA_Claim_claimTypeList]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_claimTypeList] ON [dbo].[CLUEA_Claim]
(
	[claimTypeList] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_CLUEA_DetailID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_CLUEA_DetailID] ON [dbo].[CLUEA_Claim]
(
	[CLUEA_DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_CLUEA_RequestID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_CLUEA_RequestID] ON [dbo].[CLUEA_Claim]
(
	[CLUEA_ClaimID] ASC,
	[CLUEA_RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_driverID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_driverID] ON [dbo].[CLUEA_Claim]
(
	[driverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_hasBI]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_hasBI] ON [dbo].[CLUEA_Claim]
(
	[hasBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_hasPD]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_hasPD] ON [dbo].[CLUEA_Claim]
(
	[hasPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_policyID] ON [dbo].[CLUEA_Claim]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUEA_Claim_processed]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLUEA_Claim_processed] ON [dbo].[CLUEA_Claim]
(
	[processed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
