USE [Windhaven]
GO
/****** Object:  Table [dbo].[DwellingFireDwellingLog]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DwellingFireDwellingLog](
	[dwellingFireDwellingLogID] [int] IDENTITY(10,1) NOT NULL,
	[actionType] [varchar](1) NULL,
	[changeUsersID] [int] NULL,
	[changeDate] [datetime] NULL,
	[dwellingFireDwellingID] [int] NULL,
	[dwellingFireID] [int] NULL,
	[policyID] [int] NULL,
	[dwellingType] [tinyint] NULL,
	[dwellingNumber] [smallint] NULL,
	[streetNum] [varchar](20) NULL,
	[streetPreDirection] [varchar](5) NULL,
	[streetName] [varchar](50) NULL,
	[streetType] [varchar](5) NULL,
	[streetPostDirection] [varchar](5) NULL,
	[unitNumber] [varchar](10) NULL,
	[address1] [varchar](100) NULL,
	[address2] [varchar](100) NULL,
	[city] [varchar](35) NULL,
	[community] [varchar](255) NULL,
	[countyID] [int] NULL,
	[county] [varchar](255) NULL,
	[countyDesc] [varchar](255) NULL,
	[state] [char](2) NULL,
	[zip] [varchar](10) NULL,
	[useAsInsuredAddress] [tinyint] NULL,
	[zone] [tinyint] NULL,
	[taxCodeID] [int] NULL,
	[inspectedDate] [tinyint] NULL,
	[constructionType] [tinyint] NULL,
	[yearBuilt] [smallint] NULL,
	[make] [varchar](35) NULL,
	[model] [varchar](35) NULL,
	[serialNum] [varchar](35) NULL,
	[length] [int] NULL,
	[width] [int] NULL,
	[newPurchase] [tinyint] NULL,
	[purchaseDate] [smalldatetime] NULL,
	[purchasePrice] [decimal](18, 0) NULL,
	[currentValue] [decimal](18, 0) NULL,
	[homeNew] [tinyint] NULL,
	[cookingLocation] [tinyint] NULL,
	[territoryCode] [varchar](5) NULL,
	[firePremGroup] [varchar](50) NULL,
	[ecPremGroup] [varchar](50) NULL,
	[extendedCoverage] [tinyint] NULL,
	[persLiabTerrCode] [varchar](50) NULL,
	[protectClass] [varchar](2) NULL,
	[protectionClassID] [int] NULL,
	[hydrantDistance] [int] NULL,
	[fireStationDistance] [int] NULL,
	[heatTypePrimary] [varchar](50) NULL,
	[heatTypeSecondary] [varchar](50) NULL,
	[heatTypeOther] [varchar](50) NULL,
	[securityWroughtDiscount] [varchar](50) NULL,
	[monthsOccupied] [tinyint] NULL,
	[usageType] [tinyint] NULL,
	[occupiedBy] [tinyint] NULL,
	[Seasonal] [tinyint] NULL,
	[fireDistrict] [varchar](50) NULL,
	[fireDistrictID] [int] NULL,
	[wiringType] [tinyint] NULL,
	[wiringInspectedDate] [smalldatetime] NULL,
	[locationType] [tinyint] NULL,
	[pool] [tinyint] NULL,
	[propertyAcres] [int] NULL,
	[location] [varchar](500) NULL,
	[remarks] [varchar](500) NULL,
	[tempRecord] [tinyint] NULL,
	[insuranceType] [tinyint] NULL,
	[policyState] [tinyint] NULL,
	[noLogEntry] [tinyint] NULL,
	[insertState] [tinyint] NULL,
	[excludeWindstorm] [tinyint] NULL,
	[milesFromCoast] [decimal](18, 0) NULL,
	[burglarAlarm] [tinyint] NULL,
	[fireAlarm] [tinyint] NULL,
	[fireBurglarAlarm] [tinyint] NULL,
	[fireSprinkler] [tinyint] NULL,
	[windstormArea] [tinyint] NULL,
	[lienCount] [tinyint] NULL,
	[codeCompliant] [tinyint] NULL,
	[hurricaneShutters] [tinyint] NULL,
	[territory] [varchar](5) NULL,
	[windHailDeductiblePercent] [decimal](18, 0) NULL,
	[policeDistrictID] [int] NULL,
	[factoryInstalledHeat] [tinyint] NULL,
	[cityLimits] [tinyint] NULL,
	[familyCount] [tinyint] NULL,
	[superiorConstruction] [tinyint] NULL,
	[squareFeet] [int] NULL,
	[gradeCode] [tinyint] NULL,
	[PPC] [int] NULL,
	[PPC1] [int] NULL,
	[PPC2] [int] NULL,
	[tier] [tinyint] NULL,
	[placeCode] [varchar](10) NULL,
	[dwellingCondition] [tinyint] NULL,
	[dwellingDeductible] [int] NULL,
	[roofYearBuilt] [int] NULL,
	[roofCondition] [tinyint] NULL,
	[roofClass] [tinyint] NULL,
	[roofLayer] [tinyint] NULL,
	[roofLayerType] [tinyint] NULL,
	[roofMultiLayer] [tinyint] NULL,
	[roofAge] [int] NULL,
	[travelTrailer] [tinyint] NULL,
	[withinCityLimits] [tinyint] NULL,
	[roofType] [tinyint] NULL,
	[inMHPark] [tinyint] NULL,
	[MHParkName] [varchar](50) NULL,
	[riskType] [tinyint] NULL,
	[storyCount] [tinyint] NULL,
	[locationInfo] [varchar](50) NULL,
	[visibleToNeighbors] [tinyint] NULL,
	[drivingDirections] [varchar](1000) NULL,
	[dwellingOwnerContents] [tinyint] NULL,
	[newConstruction] [tinyint] NULL,
	[knobTubeWiring] [tinyint] NULL,
	[acreage] [decimal](18, 0) NULL,
	[farming] [tinyint] NULL,
	[renovationTypeWiring] [tinyint] NULL,
	[renovationTypeWiringYear] [smallint] NULL,
	[renovationTypePlumbing] [tinyint] NULL,
	[renovationTypePlumbingYear] [smallint] NULL,
	[renovationTypeHeating] [tinyint] NULL,
	[renovationTypeHeatingYear] [smallint] NULL,
	[renovationTypeRoofing] [tinyint] NULL,
	[renovationTypeRoofingYear] [smallint] NULL,
	[renovationTypeExteriorPaint] [tinyint] NULL,
	[renovationTypeExteriorPaintYear] [smallint] NULL,
	[airConditionType] [varchar](50) NULL,
	[groundFloorSqFt] [smallint] NULL,
	[exteriorWallMaterial] [varchar](50) NULL,
	[constructionClass] [varchar](50) NULL,
	[residenceCondition] [varchar](50) NULL,
	[atticType] [varchar](50) NULL,
	[atticSqFt] [smallint] NULL,
	[additionType] [varchar](50) NULL,
	[additionSqFt] [smallint] NULL,
	[deckType] [varchar](50) NULL,
	[deckSqFt] [smallint] NULL,
	[patioEnclosureType] [varchar](50) NULL,
	[patioEnclosureSqFt] [smallint] NULL,
	[fireplaceType] [varchar](50) NULL,
	[breezewayType] [varchar](50) NULL,
	[breezewaySqFt] [smallint] NULL,
	[basementType] [varchar](50) NULL,
	[basementSqFt] [smallint] NULL,
	[porchType] [varchar](50) NULL,
	[porchSqFt] [smallint] NULL,
	[recRoomType] [varchar](50) NULL,
	[recRoomSqFt] [smallint] NULL,
	[extraBath] [varchar](50) NULL,
	[extraBathType] [varchar](50) NULL,
	[garageType] [varchar](50) NULL,
	[replacementCostOther] [varchar](50) NULL,
	[volunteerFireDepartment] [tinyint] NULL,
	[subdivisionName] [varchar](50) NULL,
	[lotDescription] [varchar](50) NULL,
	[blockDescription] [varchar](50) NULL,
	[buyerName] [varchar](250) NULL,
	[minWrittenPremium] [decimal](18, 0) NULL,
	[allPerilDeductible] [int] NULL,
	[financialStatus] [tinyint] NULL,
	[trampoline] [tinyint] NULL,
	[loggedHome] [tinyint] NULL,
	[heatcount] [int] NULL,
	[structureType] [int] NULL,
	[foundation] [int] NULL,
	[vacationDwelling] [tinyint] NULL,
	[monthsofUsage] [int] NULL,
	[roofFlat] [tinyint] NULL,
	[poolFence] [tinyint] NULL,
	[poolDivingBoard] [tinyint] NULL,
	[separatedUnit] [tinyint] NULL,
	[TwiaPolicyNum] [varchar](50) NULL,
	[floodZoneNum] [varchar](50) NULL,
	[floodPolicyNum] [varchar](50) NULL,
	[tmpPurchaseDate] [varchar](25) NULL,
	[protectionDeviceLocal] [tinyint] NULL,
	[protectionDeviceCentralBurglar] [tinyint] NULL,
	[protectionDeviceCentralFire] [tinyint] NULL,
	[protectionDeviceDirect] [tinyint] NULL,
	[fireDepartment] [tinyint] NULL,
	[lienholderID1] [int] NULL,
	[lienholderID2] [int] NULL,
	[isLandlord] [tinyint] NULL,
	[windInspection] [tinyint] NULL,
	[roofCovering] [tinyint] NULL,
	[roofDecking] [tinyint] NULL,
	[roofDeckingAttachment] [tinyint] NULL,
	[roofWallConnection] [tinyint] NULL,
	[roofGeometry] [tinyint] NULL,
	[terrain] [varchar](5) NULL,
	[windSpeed] [tinyint] NULL,
	[windSpeedDesign] [tinyint] NULL,
	[debrisRegion] [tinyint] NULL,
	[windowProtection] [tinyint] NULL,
	[secondaryWaterResistant] [tinyint] NULL,
	[designExposure] [tinyint] NULL,
	[houseNum] [varchar](10) NULL,
	[hurricaneTerritory] [smallint] NULL,
	[buildingCodeGrade] [varchar](2) NULL,
	[requireCheck1] [tinyint] NULL,
	[requireCheck2] [tinyint] NULL,
	[closingDate] [date] NULL,
	[occupancyDate] [date] NULL,
	[newClosing] [tinyint] NULL,
	[distanceToCoast] [tinyint] NULL,
	[distanceToWater] [tinyint] NULL,
	[waterName] [varchar](50) NULL,
	[dwellingAddressValidated] [tinyint] NULL,
	[mailingAddressValidated] [tinyint] NULL,
	[billingAddressValidated] [tinyint] NULL,
	[hurricanePremium] [decimal](19, 6) NULL,
	[nonHurricanePremium] [decimal](19, 6) NULL,
 CONSTRAINT [PK_DwellingFireDwellingLog] PRIMARY KEY CLUSTERED 
(
	[dwellingFireDwellingLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_DwellingFireDwellingLog_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_DwellingFireDwellingLog_policyID] ON [dbo].[DwellingFireDwellingLog]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DwellingFireDwellingLog] ADD  DEFAULT (getdate()) FOR [changeDate]
GO
ALTER TABLE [dbo].[DwellingFireDwellingLog] ADD  DEFAULT ((0)) FOR [newClosing]
GO
ALTER TABLE [dbo].[DwellingFireDwellingLog] ADD  DEFAULT ((0)) FOR [hurricanePremium]
GO
ALTER TABLE [dbo].[DwellingFireDwellingLog] ADD  DEFAULT ((0)) FOR [nonHurricanePremium]
GO
