USE [Windhaven]
GO
/****** Object:  Table [dbo].[terr_factor]    Script Date: 9/27/2016 5:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[terr_factor](
	[New_Terr] [float] NULL,
	[Curr_Terr] [float] NULL,
	[BI] [float] NULL,
	[PD] [float] NULL,
	[OTC] [float] NULL,
	[COLL] [float] NULL,
	[UMBI] [float] NULL,
	[UMPD] [float] NULL,
	[PIP] [float] NULL,
	[MED] [float] NULL,
	[TOWING] [float] NULL,
	[RENTAL] [float] NULL
) ON [PRIMARY]

GO
