USE [Windhaven]
GO
/****** Object:  Table [dbo].[GEICSImport]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEICSImport](
	[GEICSImportID] [int] IDENTITY(10,1) NOT NULL,
	[fileName] [varchar](50) NULL,
	[lineCount] [int] NULL,
	[status] [tinyint] NULL,
	[usersID] [int] NULL,
	[addDate] [smalldatetime] NULL,
 CONSTRAINT [PK_GEICSImport] PRIMARY KEY CLUSTERED 
(
	[GEICSImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_GEICSImport_addDate]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_GEICSImport_addDate] ON [dbo].[GEICSImport]
(
	[addDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_GEICSImport_status]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_GEICSImport_status] ON [dbo].[GEICSImport]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_GEICSImport_usersID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_GEICSImport_usersID] ON [dbo].[GEICSImport]
(
	[usersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GEICSImport] ADD  CONSTRAINT [DF_GEICSImport_lineCount]  DEFAULT (0) FOR [lineCount]
GO
ALTER TABLE [dbo].[GEICSImport] ADD  CONSTRAINT [DF_GEICSImport_status]  DEFAULT (0) FOR [status]
GO
ALTER TABLE [dbo].[GEICSImport] ADD  CONSTRAINT [DF_GEICSImport_usersID]  DEFAULT (2) FOR [usersID]
GO
ALTER TABLE [dbo].[GEICSImport] ADD  CONSTRAINT [DF_GEICSImport_addDate]  DEFAULT (getdate()) FOR [addDate]
GO
