USE [Windhaven]
GO
/****** Object:  Table [dbo].[Homeowner]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Homeowner](
	[homeownerID] [int] IDENTITY(10,1) NOT NULL,
	[policyID] [int] NULL,
	[curResidenceYears] [tinyint] NULL,
	[curResidenceOwn] [bit] NULL,
	[priorCarrier] [varchar](65) NULL,
	[priorProducer] [varchar](65) NULL,
	[priorPolicyNum] [varchar](25) NULL,
	[priorPolicyExpDate] [smalldatetime] NULL,
	[priorYearsWithCompany] [tinyint] NULL,
	[priorInsProof] [tinyint] NULL,
	[newRisk] [bit] NULL,
	[prevResidenceYears] [tinyint] NULL,
	[prevResidenceAddress1] [varchar](35) NULL,
	[prevResidenceAddress2] [varchar](35) NULL,
	[prevResidenceCity] [varchar](35) NULL,
	[prevResidenceState] [char](2) NULL,
	[prevResidenceZip] [varchar](10) NULL,
	[appOccupation] [varchar](65) NULL,
	[appOccupationYears] [tinyint] NULL,
	[appEmployerName] [varchar](65) NULL,
	[appEmployerAddress1] [varchar](35) NULL,
	[appEmployerAddress2] [varchar](35) NULL,
	[appEmployerCity] [varchar](35) NULL,
	[appEmployerState] [char](2) NULL,
	[appEmployerZip] [varchar](10) NULL,
	[appEmployerPhone] [varchar](22) NULL,
	[appEmployerYears] [tinyint] NULL,
	[appPriorEmployerYears] [tinyint] NULL,
	[appMaritalStatus] [tinyint] NULL,
	[appDOB] [smalldatetime] NULL,
	[appSSN] [varchar](11) NULL,
	[coappOccupation] [varchar](65) NULL,
	[coappOccupationYears] [tinyint] NULL,
	[coappEmployerName] [varchar](65) NULL,
	[coappEmployerAddress1] [varchar](35) NULL,
	[coappEmployerAddress2] [varchar](35) NULL,
	[coappEmployerCity] [varchar](35) NULL,
	[coappEmployerState] [char](2) NULL,
	[coappEmployerZip] [varchar](10) NULL,
	[coappEmployerPhone] [varchar](22) NULL,
	[coappEmployerYears] [tinyint] NULL,
	[coappPriorEmployerYears] [tinyint] NULL,
	[coappMaritalStatus] [tinyint] NULL,
	[coappDOB] [smalldatetime] NULL,
	[coappSSN] [varchar](11) NULL,
	[residenceType] [tinyint] NULL,
	[claimFreeYears] [tinyint] NULL,
	[claimDescription] [nvarchar](250) NULL,
	[claimCount] [tinyint] NULL,
	[claimType] [varchar](50) NULL,
	[waterBackUpLosses] [tinyint] NULL,
	[coverageLapse] [tinyint] NULL,
	[premiumDeposit] [decimal](19, 2) NULL,
	[transferDiscount] [decimal](19, 2) NULL,
	[renewalDiscount] [decimal](19, 2) NULL,
	[depositAmount] [decimal](19, 2) NULL,
	[timeKnownApplicant] [tinyint] NULL,
	[lastInspection] [varchar](25) NULL,
	[addDate] [smalldatetime] NULL,
	[appQuestions] [varchar](100) NULL,
	[remarks] [varchar](3000) NULL,
	[tempRecord] [tinyint] NULL,
	[policyState] [smallint] NULL,
	[noLogEntry] [tinyint] NULL,
	[dwellingList] [varchar](1000) NULL,
	[assessLateFee] [decimal](19, 2) NULL,
	[optionalEndorsement] [varchar](100) NULL,
	[postQuoteQuestions] [nvarchar](2000) NULL,
	[preQuoteQuestions] [nvarchar](2000) NULL,
	[employerName] [varchar](50) NULL,
	[declinedCoverage] [tinyint] NULL,
	[declineReason] [varchar](500) NULL,
	[newClosing] [tinyint] NULL,
	[sameBillAddress] [tinyint] NULL,
	[sameMailAddress] [tinyint] NULL,
	[howdidyouhearaboutus] [tinyint] NULL,
	[hasCoverageDeclined] [tinyint] NULL,
	[promotionCode] [varchar](25) NULL,
	[otherDetails] [varchar](150) NULL,
	[temperingFactor] [decimal](19, 8) NULL,
	[isTempered] [tinyint] NULL,
 CONSTRAINT [PK_Homeowner] PRIMARY KEY CLUSTERED 
(
	[homeownerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Homeowner] ADD  CONSTRAINT [DF_Homeowner_isTempered]  DEFAULT ((0)) FOR [isTempered]
GO
