USE [Windhaven]
GO
/****** Object:  Table [dbo].[HomeownerDwellingLog]    Script Date: 9/27/2016 5:28:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeownerDwellingLog](
	[homeownerDwellingLogID] [int] IDENTITY(10,1) NOT NULL,
	[actionType] [varchar](1) NULL,
	[changeUsersID] [int] NULL,
	[changeDate] [datetime] NULL,
	[homeownerDwellingID] [int] NULL,
	[homeownerID] [int] NULL,
	[policyID] [int] NULL,
	[dwellingType] [tinyint] NULL,
	[dwellingNumber] [smallint] NULL,
	[streetNum] [varchar](10) NULL,
	[streetPreDirection] [varchar](50) NULL,
	[streetName] [varchar](50) NULL,
	[streetType] [varchar](50) NULL,
	[streetPostDirection] [varchar](50) NULL,
	[unitNumber] [varchar](10) NULL,
	[address1] [varchar](100) NULL,
	[address2] [varchar](100) NULL,
	[city] [varchar](35) NULL,
	[countyID] [int] NULL,
	[county] [varchar](50) NULL,
	[territory] [varchar](50) NULL,
	[state] [char](2) NULL,
	[zip] [varchar](10) NULL,
	[useAsInsuredAddress] [tinyint] NULL,
	[inspectedDate] [varchar](25) NULL,
	[isProtected] [tinyint] NULL,
	[standardMarket] [tinyint] NULL,
	[subdivisionName] [varchar](100) NULL,
	[knobTubeWiring] [tinyint] NULL,
	[newConstruction] [tinyint] NULL,
	[constructionType] [tinyint] NULL,
	[superiorConstructionType] [tinyint] NULL,
	[underConstruction] [tinyint] NULL,
	[residenceType] [tinyint] NULL,
	[yearBuilt] [smallint] NULL,
	[squareFeet] [int] NULL,
	[roomCount] [smallint] NULL,
	[apartmentCount] [smallint] NULL,
	[storyCount] [tinyint] NULL,
	[locationCount] [int] NULL,
	[marketValue] [decimal](18, 0) NULL,
	[replacementCostValue] [decimal](18, 0) NULL,
	[structureType] [tinyint] NULL,
	[usageType] [tinyint] NULL,
	[monthsofUsage] [int] NULL,
	[acreage] [int] NULL,
	[farming] [tinyint] NULL,
	[ornamentation] [tinyint] NULL,
	[barn] [tinyint] NULL,
	[familyCount] [int] NULL,
	[residentCount] [tinyint] NULL,
	[waterBodyDistance] [int] NULL,
	[waterBodyType] [tinyint] NULL,
	[waterSupplyType] [tinyint] NULL,
	[make] [varchar](35) NULL,
	[model] [varchar](35) NULL,
	[serialNumber] [varchar](35) NULL,
	[width] [int] NULL,
	[length] [int] NULL,
	[tier] [tinyint] NULL,
	[horsepower] [int] NULL,
	[watercraftSpeed] [int] NULL,
	[withoutUtilities] [tinyint] NULL,
	[joinedSinglewide] [tinyint] NULL,
	[dealersLot] [tinyint] NULL,
	[purchasedNew] [tinyint] NULL,
	[purchaseDate] [smalldatetime] NULL,
	[purchasePrice] [decimal](18, 0) NULL,
	[preferredBuilder] [tinyint] NULL,
	[companionProduct] [tinyint] NULL,
	[fireDivisionCount] [tinyint] NULL,
	[fireUnitCount] [tinyint] NULL,
	[separatedUnit] [tinyint] NULL,
	[territoryCode] [varchar](10) NULL,
	[countyCode] [varchar](50) NULL,
	[firePremGroup] [varchar](50) NULL,
	[protectClass] [varchar](5) NULL,
	[PremGroup] [int] NULL,
	[fireHydrant] [tinyint] NULL,
	[hydrantDistance] [int] NULL,
	[fireStationDistance] [int] NULL,
	[fireDepartment] [varchar](50) NULL,
	[volunteerFireDepartment] [tinyint] NULL,
	[protectionDeviceCentralBurglar] [varchar](50) NULL,
	[protectionDeviceCentralFire] [varchar](50) NULL,
	[protectionDeviceDirect] [varchar](50) NULL,
	[protectionDeviceLocal] [varchar](50) NULL,
	[heatTypePrimary] [varchar](50) NULL,
	[heatTypeSecondary] [varchar](50) NULL,
	[heatCount] [int] NULL,
	[oilStorageTankLocation] [varchar](50) NULL,
	[sidingType] [tinyint] NULL,
	[roofType] [tinyint] NULL,
	[roofYearBuilt] [int] NULL,
	[roofCondition] [varchar](100) NULL,
	[roofClass] [tinyint] NULL,
	[roofFlat] [tinyint] NULL,
	[roofLayer] [tinyint] NULL,
	[roofLayerType] [tinyint] NULL,
	[roofMultiLayer] [tinyint] NULL,
	[roofAge] [int] NULL,
	[renovationTypeWiring] [tinyint] NULL,
	[renovationTypeWiringYear] [smallint] NULL,
	[renovationTypePlumbing] [tinyint] NULL,
	[renovationTypePlumbingYear] [smallint] NULL,
	[renovationTypeHeating] [tinyint] NULL,
	[renovationTypeHeatingYear] [smallint] NULL,
	[renovationTypeRoofing] [tinyint] NULL,
	[renovationTypeRoofingYear] [smallint] NULL,
	[renovationTypeExteriorPaint] [tinyint] NULL,
	[renovationTypeExteriorPaintYear] [smallint] NULL,
	[renovationTypeWallYear] [smallint] NULL,
	[otherRemodeling] [varchar](500) NULL,
	[dwellingAdditions] [varchar](500) NULL,
	[fireRate] [varchar](50) NULL,
	[fireDistrict] [varchar](100) NULL,
	[dwellingLocation] [tinyint] NULL,
	[cityLimits] [tinyint] NULL,
	[occupiedBy] [tinyint] NULL,
	[deadbolt] [tinyint] NULL,
	[aggressiveDog] [tinyint] NULL,
	[otherDog] [tinyint] NULL,
	[smokeDetector] [tinyint] NULL,
	[burglarAlarm] [nvarchar](100) NULL,
	[fireAlarm] [tinyint] NULL,
	[fireBurglarAlarm] [tinyint] NULL,
	[fireExtinguisher] [tinyint] NULL,
	[fireStation] [nvarchar](100) NULL,
	[visibleToNeighbors] [tinyint] NULL,
	[housekeepingCondition] [varchar](50) NULL,
	[fireSprinkler] [tinyint] NULL,
	[trampoline] [tinyint] NULL,
	[pool] [tinyint] NULL,
	[poolFence] [tinyint] NULL,
	[poolDivingBoard] [tinyint] NULL,
	[stormShuttersType] [tinyint] NULL,
	[buildingCodeGrade] [varchar](50) NULL,
	[taxCode] [varchar](50) NULL,
	[rating] [tinyint] NULL,
	[occupiedDaily] [tinyint] NULL,
	[weeksRented] [tinyint] NULL,
	[windClass] [varchar](5) NULL,
	[raised] [tinyint] NULL,
	[foundation] [tinyint] NULL,
	[basementSqFt] [smallint] NULL,
	[garageSqFt] [smallint] NULL,
	[breezewaySqFt] [smallint] NULL,
	[groundFloorSqFt] [smallint] NULL,
	[appAttachment] [varchar](255) NULL,
	[drivingDirections] [varchar](1000) NULL,
	[lienType1] [tinyint] NULL,
	[lienholderID1] [int] NULL,
	[lienAccountNum1] [varchar](35) NULL,
	[lienType2] [tinyint] NULL,
	[lienholderID2] [int] NULL,
	[lienAccountNum2] [varchar](35) NULL,
	[exeptionDeclaration] [tinyint] NULL,
	[exeptions] [varchar](100) NULL,
	[premiumTotal] [decimal](18, 0) NULL,
	[dwellingLiability] [decimal](18, 0) NULL,
	[otherStructureLiability] [decimal](18, 0) NULL,
	[personalPropertyLiability] [decimal](18, 0) NULL,
	[personalLiability] [decimal](18, 0) NULL,
	[medicalLiability] [decimal](18, 0) NULL,
	[farmersLiability] [decimal](18, 0) NULL,
	[replacementCostDwelling] [tinyint] NULL,
	[replacementCostContents] [tinyint] NULL,
	[allPerilDeductible] [decimal](18, 0) NULL,
	[theftDeductible] [decimal](18, 0) NULL,
	[windstormDeductible] [decimal](18, 0) NULL,
	[vacancyCharge] [tinyint] NULL,
	[bankruptcyCharge] [tinyint] NULL,
	[seasonalCharge] [tinyint] NULL,
	[altHeatingCharge] [tinyint] NULL,
	[deductible1] [decimal](18, 0) NULL,
	[deductible1Percent] [decimal](18, 0) NULL,
	[deductible2] [decimal](18, 0) NULL,
	[deductible2Percent] [decimal](18, 0) NULL,
	[excludeVandalism] [tinyint] NULL,
	[excludeWindstorm] [tinyint] NULL,
	[policyState] [smallint] NULL,
	[noLogEntry] [tinyint] NULL,
	[insertState] [smallint] NULL,
	[appQuestions] [varchar](100) NULL,
	[remarks] [varchar](3000) NULL,
	[tempRecord] [tinyint] NULL,
	[tieDown] [tinyint] NULL,
	[exteriorWallMaterial] [varchar](50) NULL,
	[constructionClass] [varchar](50) NULL,
	[residenceCondition] [varchar](50) NULL,
	[airConditionType] [varchar](50) NULL,
	[atticType] [varchar](50) NULL,
	[superiorConstruction] [tinyint] NULL,
	[townRowHouse] [tinyint] NULL,
	[residenceSubDivisions] [tinyint] NULL,
	[residencesOccupied] [tinyint] NULL,
	[fireDeptTransport] [tinyint] NULL,
	[atticSqFt] [smallint] NULL,
	[additionType] [varchar](50) NULL,
	[additionSqFt] [smallint] NULL,
	[deckType] [varchar](50) NULL,
	[deckSqFt] [smallint] NULL,
	[patioEnclosureType] [varchar](50) NULL,
	[patioEnclosureSqFt] [smallint] NULL,
	[fireplaceType] [varchar](50) NULL,
	[breezewayType] [varchar](50) NULL,
	[basementType] [varchar](50) NULL,
	[porchType] [varchar](50) NULL,
	[porchSqFt] [smallint] NULL,
	[recRoomType] [varchar](50) NULL,
	[recRoomSqFt] [smallint] NULL,
	[extraBath] [varchar](50) NULL,
	[extraBathType] [varchar](50) NULL,
	[garageType] [varchar](50) NULL,
	[replacementCostOther] [varchar](50) NULL,
	[dwellingCondition] [tinyint] NULL,
	[lotDescription] [varchar](35) NULL,
	[blockDescription] [varchar](35) NULL,
	[protectionClassID] [int] NULL,
	[lossOfUseLiability] [decimal](18, 0) NULL,
	[residenceRentalTheft] [tinyint] NULL,
	[landlordFurnishingsLiability] [decimal](18, 0) NULL,
	[sinkholeCollapse] [tinyint] NULL,
	[placeCode] [varchar](10) NULL,
	[inMHPark] [tinyint] NULL,
	[MHParkName] [varchar](50) NULL,
	[locationInfo] [varchar](50) NULL,
	[coastal] [tinyint] NULL,
	[city_community] [varchar](255) NULL,
	[MPH] [int] NULL,
	[additionalResidence] [tinyint] NULL,
	[financialStatus] [tinyint] NULL,
	[landProperty] [int] NULL,
	[numEmployees] [int] NULL,
	[BusinessPremises] [tinyint] NULL,
	[BusinessPersonCount] [int] NULL,
	[PPC] [int] NULL,
	[TwiaPolicyNum] [varchar](50) NULL,
	[floodZoneNum] [varchar](50) NULL,
	[floodPolicyNum] [varchar](50) NULL,
	[HO0460Form] [tinyint] NULL,
	[HO0461Form] [tinyint] NULL,
	[updateFinancialStatus] [tinyint] NULL,
	[tmpPurchaseDate] [varchar](25) NULL,
	[useADPLW] [tinyint] NULL,
	[ExteriorPaint] [int] NULL,
	[HouseHoldResidence] [smallint] NULL,
	[RoofMaterial] [varchar](50) NULL,
	[Occupancy] [varchar](50) NULL,
	[ConditionOfRoof] [varchar](50) NULL,
	[ReplacementCost] [varchar](50) NULL,
	[detailSwimmingAppQ1] [tinyint] NULL,
	[detailSwimmingFenceAppQ2] [tinyint] NULL,
	[detailSwimmingBoardAppQ3] [tinyint] NULL,
	[detailSwimmingDepAppQ4] [tinyint] NULL,
	[detailSwimmingAboveAppQ5] [tinyint] NULL,
	[detailSwimmingInAppQ6] [tinyint] NULL,
	[detailTrampolineAppQ1] [tinyint] NULL,
	[detailTrampolineFenceAppQ2] [tinyint] NULL,
	[detailTrampolineNetAppQ3] [tinyint] NULL,
	[FPA] [varchar](50) NULL,
	[subscriptionDistrict] [nvarchar](100) NULL,
	[detailPetAppQ1] [tinyint] NULL,
	[detailPetBiteHistoryAppQ2] [tinyint] NULL,
	[detailPetDogAppQ3] [tinyint] NULL,
	[detailPetBreedAppQ4] [tinyint] NULL,
	[distanceToWater] [int] NULL,
	[roofGeometry] [tinyint] NULL,
	[roofDecking] [tinyint] NULL,
	[windSpeedDesign] [smallint] NULL,
	[windSpeed] [smallint] NULL,
	[watername] [varchar](50) NULL,
	[debrisRegion] [tinyint] NULL,
	[distanceToCoast] [tinyint] NULL,
	[designExposure] [tinyint] NULL,
	[houseNum] [varchar](10) NULL,
	[windInspection] [tinyint] NULL,
	[roofDeckingAttachment] [tinyint] NULL,
	[windowProtection] [tinyint] NULL,
	[roofCovering] [tinyint] NULL,
	[secondaryWaterResistant] [tinyint] NULL,
	[roofWallConnection] [tinyint] NULL,
	[terrain] [varchar](5) NULL,
	[newClosing] [tinyint] NULL,
	[closingDate] [date] NULL,
	[occupiedSixMonth] [tinyint] NULL,
	[hurricanePremium] [decimal](18, 0) NULL,
	[nonHurricanePremium] [decimal](18, 0) NULL,
	[hurricaneTerritory] [smallint] NULL,
	[requireCheck1] [tinyint] NULL,
	[requireCheck2] [tinyint] NULL,
	[occupancyDate] [date] NULL,
	[dwellingAddressValidated] [tinyint] NULL,
	[mailingAddressValidated] [tinyint] NULL,
	[billingAddressValidated] [tinyint] NULL,
 CONSTRAINT [PK_HomeownerDwellingLog] PRIMARY KEY CLUSTERED 
(
	[homeownerDwellingLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_HomeownerDwellingLog_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomeownerDwellingLog_policyID] ON [dbo].[HomeownerDwellingLog]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HomeownerDwellingLog] ADD  CONSTRAINT [DF__Homeowner__chang__0B856838]  DEFAULT (getdate()) FOR [changeDate]
GO
