USE [Windhaven]
GO
/****** Object:  Table [dbo].[PolicyHolderLogin]    Script Date: 9/27/2016 5:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyHolderLogin](
	[policyHolderLoginID] [int] IDENTITY(10,1) NOT NULL,
	[insuredID] [int] NULL,
	[policyID] [int] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[active] [bit] NULL,
	[lastLogin] [smalldatetime] NULL,
	[addDate] [smalldatetime] NULL,
	[activationCode] [varchar](40) NULL,
	[activationDate] [smalldatetime] NULL,
	[emailInvoice] [bit] NULL,
	[emailCancelNotice] [bit] NULL,
	[emailDocuments] [bit] NULL,
	[subscribedDate] [datetime] NULL,
	[unsubscribedDate] [datetime] NULL,
	[deviceToken] [varchar](250) NULL,
	[deviceType] [tinyint] NULL,
 CONSTRAINT [PK_PolicyHolderLogin] PRIMARY KEY CLUSTERED 
(
	[policyHolderLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_PolicyHolderLogin_policyID]    Script Date: 9/27/2016 5:29:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyHolderLogin_policyID] ON [dbo].[PolicyHolderLogin]
(
	[policyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PolicyHolderLogin] ADD  CONSTRAINT [DF_PolicyHolderLogin_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[PolicyHolderLogin] ADD  CONSTRAINT [DF_PolicyHolderLogin_addDate]  DEFAULT (getdate()) FOR [addDate]
GO
ALTER TABLE [dbo].[PolicyHolderLogin] ADD  CONSTRAINT [DF_PolicyHolderLogin_emailDocuments]  DEFAULT ((0)) FOR [emailDocuments]
GO
